.spinner-border{
  width: 6rem;
  height: 6rem;
}

.spinner {
  opacity: 0.5;
  background: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  visibility: visible;
  z-index: 9999;
}
